* {
  box-sizing: border-box;
}

body,
html {
  background: #d5f8e8;
  font-family: 'Handlee', cursive;
  height: 100vh;
  min-width: 300px;
  margin: 0;
  width: 100%;
}

.title-hdr {
  background: #000;
  color: #fff;
  letter-spacing: 0.05rem;
  padding: 2.3rem;
  text-align: center;
}

.main-wrapper {
  background: #fff;
  border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  margin: 3rem 20rem;
  padding: 2.5rem;
}

.description {
  background: #f8d5e5;
  border-radius: 0.1rem;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 0 2.4rem 0;
  padding: 2.7rem;
  text-align: center;
}

/***************begin form***************/
.left-info {
  display: inline-block;
  margin-bottom: 1rem;
  text-align: right;
  vertical-align: top;
  width: 45%;
}

.right-info {
  display: inline-block;
}

#name,
#email,
#age {
  height: 1.6rem;
}

#name,
#email,
#age,
.customer-comments {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
}

#name-label,
#email-label,
#number-label,
.referral-title,
.favorites-title,
.recommend-title,
.comments {
  font-weight: bold;
  margin-right: 1.5rem;
}

#name,
#email,
#age,
.dropdown {
  width: 9.9rem;
}

.dropdown {
  border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  height: 1.6rem;
}

.dropdown,
.customer-comments,
.submit-wrapper {
  margin-top: 1.3rem;
}

.favorites-wrapper {
  margin: -1.2rem 0 -0.3rem 0;
}

.favorites-list,
.recommend-list,
.customer-comments {
  list-style-type: none;
  padding-left: 0;
}

.customer-comments {
  font-family: 'Muli', sans-serif;
  resize: vertical;
}

.submit-wrapper {
  text-align: center;
}

.author-info {
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: -1.5rem 0 2.5rem 0;
  text-align: center;
  text-transform: lowercase;
}

#submit {
  background: #000;
  border: none;
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  height: 1.9rem;
  text-transform: uppercase;
  width: 4.7rem;
}

/***************tablets****************/
/***************portrait***************/
/***************landscape**************/
@media screen
and ( min-width: 1024px )
and ( max-width: 1366px ) {
.main-wrapper {
  margin: 3rem 10rem;
}
}

@media screen
and ( min-width: 768px )
and ( max-width: 1023px )
and ( orientation: portrait ) {
.main-wrapper {
  margin: 3rem;
}
}

/***************mobile*****************/
/***************portrait***************/
@media screen
and ( min-width: 400px )
and ( max-width: 767px )
and ( orientation: portrait ) {
.title {
  font-size: 1.5rem;
}

.main-wrapper {
  margin: 1rem;
}

.description {
  font-size: 1.3rem;
  padding: 2rem;
}

/***************begin form***************/
.customer-info-wrapper {
  margin-top: -1rem;
}

.left-info {
  margin: 0.8rem 0 0.5rem 0;
  width: 100%;
}

#name,
#email,
#age,
.dropdown {
  height: 2rem;
  width: 18.7rem;
}

.referral-title,
.favorites-title,
.recommend-title,
.comments {
  font-size: 1.1rem;
}

#name-label,
#email-label,
#number-label,
.referral-title,
.favorites-title,
.recommend-title,
.comments {
  float: left;
}

.referral-title {
  margin-bottom: -0.6rem;
}

.favorites-title {
  margin-top: 2.2rem;
  text-align: left;
}

.recommend-title {
  text-align: left;
}

.favorites-title,
.recommend-title,
.comments {
  margin-right: 0;
}

.favorites-list,
.recommend-list,
.customer-comments {
  margin: -0.7rem 0;
}

.customer-comments {
  width: 18.7rem;
}

.author-info {
  margin-top: 1rem;
}
}

@media screen
and ( min-width: 375px )
and ( max-width: 399px )
and ( orientation: portrait ) {
.title {
  font-size: 1.5rem;
}

.main-wrapper {
  margin: 1rem;
}

.description {
  font-size: 1.3rem;
  padding: 1.8rem;
}

/***************begin form***************/
.customer-info-wrapper {
  margin-top: -1rem;
}

.left-info {
  margin: 0.8rem 0 0.5rem 0;
  width: 100%;
}

#name,
#email,
#age,
.dropdown {
  height: 2rem;
  width: 16rem;
}

.referral-title,
.favorites-title,
.recommend-title,
.comments {
  font-size: 1.1rem;
}

#name-label,
#email-label,
#number-label,
.referral-title,
.favorites-title,
.recommend-title,
.comments {
  float: left;
}

.referral-title {
  margin-bottom: -0.6rem;
}

.favorites-title {
  margin-top: 2.2rem;
  text-align: left;
}

.recommend-title {
  text-align: left;
}

.favorites-title,
.recommend-title,
.comments {
  margin-right: 0;
}

.favorites-list,
.recommend-list,
.customer-comments {
  margin: -0.7rem 0;
}

.customer-comments {
  width: 16rem;
}

.author-info {
  margin-top: 1rem;
}
}

@media screen
and ( min-width: 321px )
and ( max-width: 374px )
and ( orientation: portrait ) {
.title {
  font-size: 1.6rem;
}

.main-wrapper {
  margin: 1rem;
}

.description {
  font-size: 1.3rem;
  padding: 1.7rem;
}

/***************begin form***************/
.customer-info-wrapper {
  margin-top: -1rem;
}

.left-info {
  margin: 0.8rem 0 0.5rem 0;
  width: 100%;
}

#name,
#email,
#age,
.dropdown {
  height: 2rem;
  width: 15.5rem;
}

.referral-title,
.favorites-title,
.recommend-title,
.comments {
  font-size: 1.1rem;
}

#name-label,
#email-label,
#number-label,
.referral-title,
.favorites-title,
.recommend-title,
.comments {
  float: left;
}

.referral-title {
  margin-bottom: -0.7rem;
}

.favorites-title {
  margin-top: 2rem;
}

.favorites-title,
.recommend-title {
  text-align: left;
}

.favorites-title,
.recommend-title,
.comments {
  margin-right: 0;
}

.favorites-list,
.recommend-list {
  margin-top: -0.8rem;
}

.recommend-title,
.comments {
  margin-top: 0;
}

.customer-comments {
  margin-top: -0.5rem;
  width: 15.5rem;
}

.author-info {
  margin-top: 1rem;
}
}

@media screen
and ( max-width: 320px )
and ( orientation: portrait ) {
.title {
  font-size: 1.3rem;
}

.main-wrapper {
  margin: 1rem;
}

.description {
  font-size: 1.13rem;
  padding: 1.8rem;
}

/***************begin form***************/
.customer-info-wrapper {
  margin-top: -1.4rem;
}

.left-info {
  margin: 0.8rem 0 0.5rem 0;
  width: 100%;
}

#name,
#email,
#age,
.dropdown {
  height: 1.8rem;
  width: 13rem;
}

.referral-title,
.favorites-title,
.recommend-title,
.comments {
  font-size: 1.05rem;
}

#name-label,
#email-label,
#number-label,
.referral-title,
.favorites-title,
.recommend-title,
.comments {
  float: left;
}

.referral-title {
  margin-bottom: -0.5rem;
}

.favorites-title {
  margin: 2rem 0 -0.5rem 0;
}

.favorites-title,
.recommend-title {
  text-align: left;
}

.recommend-list {
  margin-top: -0.7rem;
}

.recommend-title,
.comments {
  margin-top: 0;
}

.recommend-title,
.comments {
  margin-right: 0;
}

.customer-comments {
  margin-top: -0.5rem;
  width: 13.5rem;
}

.author-info {
  margin-top: 1rem;
}
}

/***************mobile******************/
/***************landscape***************/
@media screen
and ( min-width: 812px )
and ( max-width: 1023px )
and ( orientation: landscape ) {
.main-wrapper {
  margin: 30px;
}

.author-info {
  margin-top: 1rem;
}
}

@media screen
and ( min-width: 569px )
and ( max-width: 811px )
and ( orientation: landscape ) {
.main-wrapper {
  margin: 1.5rem 1rem;
}

.author-info {
  margin-top: 1rem;
}
}

@media screen
and ( max-width: 568px )
and ( orientation: landscape ) {
.main-wrapper {
  margin: 1rem;
}

.customer-comments {
  width: 12rem;
}

.author-info {
  margin-top: 1rem;
}
}